.character {
    display: flex;
    gap: 50px; 
}

.container-image {
    width: 50%;
    text-align: right;
}

img {
    max-width: 100%;
}

.container-info {
    width: 50%;
}

h1 {text-align: center;}